body {font-family: arial;margin: 0; background:black;}

#nav-bar{
    width: 100%;
	background-color: inherit;
    text-align:center;
   text-align:center;
}


#header{

    margin:0 auto;
	width:100%;
    background-color: #1a1a1a;
}

#nav-container{
    margin:auto;
    min-width:320px;
	max-width:1200px;
	text-align:center;
}

#logo{
	font-family: georgia;
	display: inline-block;
	float:left;
	background-image: url("https://i.imgur.com/mb6swQW.png"); 
   background-repeat: no-repeat;
   background-size: auto;
   width:50px;
   
   height:40px;
	
}
.topnav {
  overflow: hidden;text-align:center;
  background-color: inherit;
}

#myTopNav{
	
	text-align:center;
}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

#banner-container{
    width:100%;
    background:blue;
}
#content-container{
    width:100%;
    background:black;
    text-align:center;
}

.event_box{
	border-style:solid;
	border-color:white;
	border-width: 1px;
	display:inline-block;
	margin:auto 50px;
	border-radius:50%;
	behavior:url(PIE.htc);
	color:black;
	height:150px;
	width:150px;
	font:10px;
	background-color:white;
}
.event_container{
	display:block;
	position:absolute;
	left: 0;
    bottom: 30%;
    right: 0;
	
	text-align: center;
	margin:auto;
}
#banner{
    margin: 0 auto;
    max-width:100%;
	min-width:320px;
	position:relative;
	height:0;
	padding-top:44.5%;
   background-image: url("voragoo.png"); 
   background-repeat: no-repeat;
   background-size: 100% auto;
   /*background size not supported everywhere*/
   text-align:center;
}



.banner_text{
    position:absolute;
    left: 0;
    bottom: 15%;
    right: 0;
	font-weight:bold;
	color:white;
	font-size: 20px;
	
}
#vitlogo{
font-size: 80px;
font-family: Palatino Linotype;
color: #ece6df;
width:270px;
    height: 90px;
    margin:40px auto 140px auto;
text-shadow:0 0 10px #ffffff,0 0 20px #ffffff,0 0 30px #ffffff,0 0 40px #ece6df,0 0 70px #ece6df,0 0 80px #ece6df,0 0 100px #ece6df,0 0 170px #ece6df;}

 
}



#seemore a{
	font-weight:bold;
	color:white;
	font-size: 20px;
}
#seemore a, a:visited{
    color: white;
}
.twitch_users{
    position:absolute;
    left: 0;
    bottom: 5%;
    right: 0;
    
}

#content{
	margin: auto;
	clear: both;
	background:black;
	max-width:1200px;
}


/* Style the tab content */
.tabcontent {
    display: inline-block;
    text-align: center;
    padding: 20px 12px;
    background-color: black;
    color:white;
}
div.gallery {
    border: 1px solid #ccc;
    max-width:400px;
    margin:auto;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.gallery-resp{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media screen and (max-width: 1400px) {
	.event_box{
		border-radius:0%;
		height: 50px;
	}
	.event_container{
		bottom: 37%;
	}
}

@media screen and (max-width: 1000px) {
	.event_box{
		border-radius:0%;
		height: 30px;
		width:100px;
		margin: auto 20px;
	}
	.event_container{
		bottom: 40%;
	}
}
@media screen and (max-width: 800px) {
	.event_container{
		display:none;
	}
}
@media screen and (max-width: 600px) {
	
	.gallery-resp {
        width: 49.99999%;
        margin: 6px 0;
    }
	.banner_text{
		display:none;
	}
	#seemore{
		
	}
	.topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

